body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f1e1e59;
    margin: 0;;
}

.calculator {
    width: 320px;
    background-color: #fff;
    padding:50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.display {
    width: 95%;
    height: 60px;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border: 1px solid #201d1d;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

.equals {
    background-color: #4CAF50;
    color: white;
    grid-column: span 2;
}

button:active {
    background-color: #ccc;
}
